@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background: #2e2e31;
  font-family: "Montserrat", serif;
  letter-spacing: -0.4px;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
